// ==========================================================================
// Layout: Footer
// ==========================================================================
// サイト共通のフッターレイアウト

@use "../foundation/variables" as *;
@use "../foundation/mixin" as *;

.l-footer {
  background-color: $color-background-gray;
}

.l-footer__inner {
  max-width: $breakpoint-xl;
  margin: 0 auto;
  padding: $spacing-xl $spacing-md;

  @include mq(pc) {
    padding: $spacing-xxl $spacing-lg;
  }
}

